.contexte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #fff;

  background-image: none;

  &::after {
    content: "";
    display: block;
    width: 10vh;
    height: 10vh;
    background: url("../../assets/images/flechebas.svg") no-repeat center;
    background-size: contain;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .deco_contexte--1 {
    margin: 0;
    display: flex;
    justify-content: start;
  }

  &__number {
    margin: 0;
    font-size: $size-number-mobile;
    margin-bottom: 10px;
  }

  &__deco,
  &__deco2 {
    display: none;
  }

  &__deco-start &__deco-end {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  &__deco-end {
    align-self: flex-end;
  }

  &__deco-start {
    align-self: flex-start;
  }

  &__deco-start img {
    transform: rotate(180deg);
    width: 30px;
  }

  &__deco-end img {
    width: 30px;
  }

  &__title {
    margin: 0;
    font-size: $size-title-mobile;
    margin-bottom: 20px;
  }

  &__text {
    font-size: $size-text-mid-mobile;
    margin-bottom: 15px;
  }

  &__text {
    font-size: $size-text-mid-desktop;

    &--small {
      font-size: $size-text-small-desktop;

      &::after {
        content: url("../assets/images/croix.svg");
        display: block;
        margin-left: auto;
        margin-right: 0;
        margin-top: 3vh;
        width: fit-content;
        height: auto;
        display: none;

        @media (min-width: 1200px) {
          display: flex;
        }
      }
    }

    &--3 {
      &::before {
        content: url("../assets/images/croix.svg");
        display: block;
        margin: 0%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10%;
        width: fit-content;
        height: auto;

        @media (min-width: 1200px) {
          display: none;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    background-image: url("../assets/images/ctxcercle.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    height: 700px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(0, 250px)) 1fr; 
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
    grid-template-areas:
      ". . . . . deco-end"
      "number text-1 text-1 deco1 deco1 . "
      "title text2 text2 deco1 deco1 . "
      "title deco2 deco2 text3 text3 ."
      ". deco-start . . . . ";

    &__number {
      grid-area: number;
      font-size: $size-number-desktop;
      display: block;
      margin: 0 auto;
    }

    &__title {
      grid-area: title;
      writing-mode: vertical-rl;
      text-orientation: upright;
      display: block;
      margin: 0 auto;
      font-size: $size-title-desktop;
    }

    &__text--1 {
      grid-area: text-1;
    }

    &__text--2 {
      grid-area: text2;
    }

    &__text--3 {
      grid-area: text3;
    }

    &__deco img {
      grid-area: deco1;
    }

    &__deco {
      display: block;
      grid-area: deco1;
      width: 300px;
      margin-right: auto;
      margin-left: 10vh;
      height: auto;
    }

    &__deco2 {
      display: block;
      grid-area: deco2;
      width: 300px;
      margin-left: auto;
      margin-right: 10vh;
      height: auto;
      transform: rotate(180deg);
    }

    &__deco2 img {
      transform: rotate(180deg);
    }

    &__deco-end {
      grid-area: deco-end;
      display: block;
    }

    &__deco-start {
      grid-area: deco-start;
    }

    &::after {
      display: none;
    }
  }
}