.solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #fff;

  background-image: none;

  &__deco {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (min-width: 1200px) {
      display: none;
    }
    &--1,
    &--2 {
      margin: 0;
    }
  }

  &__deco-img {
    display: none;
  }

  &__number {
    margin: 0%;
    font-size: $size-number-mobile;
    margin-bottom: 10px;
  }

  &__title {
    margin: 0%;
    font-size: $size-title-mobile;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 15px;
    max-width: 1000px;

    &--small {
      font-size: 0.8rem;
    }

    &--3 {
      margin-left: 5vh;
      z-index: -1;
      &::after {
        content: url("../assets/images/decooo.svg");
        display: block;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0;
        width: fit-content;
        height: auto;
      }

      &::before {
        content: url("../assets/images/decooo.svg");
        display: block;
        margin-left: 0;
        margin-right: auto;
        margin-top: 3vh;
        width: fit-content;
        height: auto;
        transform: scaleX(-1);
      }
    }
  }

  &::after {
    content: "↓";
    font-size: xx-large;
  }

  @media (min-width: 1200px) {
    max-height: 550px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    margin-top: 20vh;
    margin-bottom: 20vh;
    grid-template-areas:
      "number text1 text1 text1 text1 deco-img ."
      "title img img textsmall textsmall deco-img ."
      "title text3 text3 text3 text3 text3 .";

    &__number {
      grid-area: number;
      font-size: $size-number-desktop;
      display: block;
      margin: 0 auto;
    }

    &__title {
      grid-area: title;
      writing-mode: vertical-rl;
      text-orientation: upright;
      display: block;
      margin: 0 auto;
      font-size: $size-title-desktop;
    }

    &__text {
      &--1 {
        grid-area: text1;
        font-size: 20px;
      }
      &--small {
        grid-area: textsmall;
        font-size: 16px;
      }
      &--3 {
        grid-area: text3;
        font-size: 20px;
      }
    }

    &__img {
      grid-area: img;
    }

    &__deco {
      grid-area: deco;
    }

    &__deco-img {
      display: block;
      margin-left: auto;
      grid-area: deco-img;
    }

    &__deco-img img {
      grid-area: deco-img;
    }

    &::after {
      display: none;
    }
  }
}
