.userjourney {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #fff;

  &__number {
    margin: 0;
    font-size: $size-number-mobile;
    margin-bottom: 10px;
  }

  &__title {
    margin: 0;
    font-size: $size-title-mobile;
    margin-bottom: 20px;
  }

  &__img {
    background-image: url("../assets/images/usermobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: 100vw;
    animation: fadeIn 1.5s ease-in-out;
  }

  @media (min-width: 768px) {
    margin-bottom: 10vh;

    &__img {
      background-image: url("../assets/images/usertablet.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      height: 80vh;
      width: 100%;
      animation: fadeIn 1.5s ease-in-out;
    }
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(0, 250px)) 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-position: top left;
    gap: 0;
    grid-template-areas:
      "number img img img img img"
      "title img img img img img"
      "title img img img img img";

    &__number {
      grid-area: number;
      font-size: $size-number-desktop;
      display: block;
      margin: 0 auto;
    }

    &__title {
      grid-area: title;
      writing-mode: vertical-rl;
      text-orientation: upright;
      display: block;
      margin: 0 auto;
      font-size: $size-title-desktop;
    }

    &__img {
      grid-area: img;
      background-image: url("../assets/images/userdesktop.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      height: 100%;
      width: 100%;
      animation: fadeIn 1.5s ease-in-out;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}