@import 'utils/variables';
@import 'components/type';
@import 'components/fonts';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: white;
    font-family: 'ClashDisplay';

    &.no-scroll {
        overflow: hidden;
    }
}

p {
    max-width: 800px;
    font-family: "Atkinson Hyperlegible", "Clash Display";
    line-height: 150%;
}

.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.main__title {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 0;
    font-size: 38px;

    @media (min-width: 1200px) {
        font-size: 64px;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px 20px;
    position: fixed;
    width: 100%;

    &__brand {
        font-size: 24px;
    }

    &__toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;
        transition: transform 0.3s;
        z-index: 9999;

        &.is-active {
            transform: rotate(180deg);
            transform: translateY(-10vh);
        }
    }

    &__line {
        height: 2px;
        width: 25px;
        background-color: white;
        margin: 4px 0;
        transition: all 0.3s ease-in-out;
        

        &--1.is-active {
            transform: rotate(45deg) translate(5px, 9px);
        }

        &--2.is-active {
            opacity: 0;
        }

        &--3.is-active {
            transform: rotate(-45deg) translate(5px, -9px);
        }
    }

    &__menu {
        list-style: none;
        display: flex; 
        justify-content: center;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        visibility: visible; 
        transform: translateX(0); 
        transition: transform 0.4s ease, visibility 0.4s ease;

        &.is-active {
            visibility: visible; 
            transform: translateX(0); 
        }

        @media (max-width: 1200px) {
            display: flex; 
            flex-direction: column; 
            position: fixed; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #6d178c;
            align-items: center;
            visibility: hidden; 
            transform: translateX(-100%); 
            z-index: 9998; 
        }

        &.is-active {
            visibility: visible;
            transform: translateX(0); 
        }
    s


    &__toggle {
        transition: transform 0.3s;
    }
    }

    &__item {
        padding: 0;
        padding-left: 30px;
       
        background-color: rgba(109, 23, 140, 0);
        backdrop-filter: blur(2px);
        text-align: center;

        @media (max-width: 1200px) {
            padding: 0;
            margin: 3rem 0;
        }

        @media (min-width: 1200px) {
            display: flex;
            align-items: center;
        }
    }

    &__link {
        color: white;
        text-decoration: none;
        font-size: 20px;

        &.active {
            font-weight: bold; 
            transition: all 0.2s;
        }

        @media (max-width: 1200px) {
            font-size: 28px;
        }
    }

    &__svg {

        width: 50px;
        height: 50px;

        &--left {
            display: inline-block;
            margin-right: 30px;
        }

        &--right {
            display: inline-block;
            margin-left: 30px;
        }

        @media (max-width: 1200px) {
            display: none;
        }
    }

    @media (max-width: 1200px) {
        justify-content: flex-start;

        &__toggle {
            display: flex;
            justify-content: flex-start;
            transform: translateY(-10vh);
        }
    }
}


.contexte {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;

    background-image: none;

    
    &::after {
        content:"↓";
        font-size: xx-large;
     }


    .deco_contexte--1{
        margin: 0;
        display: flex;
        justify-content: start;
      }

  
    &__number {
      margin: 0;
      font-size: $size-number-mobile;
      margin-bottom: 10px;
    }
  
    &__title {
      margin: 0;
      font-size: $size-title-mobile;
      margin-bottom: 20px;
    }
  
    &__text {
      font-size: $size-text-mid-mobile;
      margin-bottom: 15px;
      
  
      &--small {
        font-size: $size-text-small-mobile;
        &::after {
            content: url('../assets/images/croix.svg');
            display: block;
            margin: 0 auto; // ICIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            margin-top: 3vh;
            width: fit-content;
            height: auto;
          }
          
      }
    }


    &__text {

        font-size: $size-text-mid-desktop;

       &--small {

           font-size: $size-text-small-desktop;
   
         &::after {
           content: url('../assets/images/croix.svg');
           display: block;
           margin-left: auto;  // ICIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
           margin-right: 0;
           margin-top: 3vh;
           width: fit-content;
           height: auto;
         }
       }
     }


    @media (min-width: 1200px) {
        background-image: url('../assets/images/section1.svg');
        background-repeat: no-repeat;
        background-position: top 10vh right ;
        background-size: 300px 300px;
        



        margin-top: 10vh;
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        gap: 0px;
        grid-template-areas:
          "number text-1 text-1 . . . "
          "title text2 text2 . . . "
          "title . .  text3 text3 ."; 
    
        &__number {
          grid-area: number;
          font-size: $size-number-desktop;
          display: block;
          margin: 0 auto;
        }
    
        &__title {
          grid-area: title;
          writing-mode: vertical-rl; 
          text-orientation: upright;
          display: block;
          margin: 0 auto;
          font-size: $size-title-desktop;
        }
    
        &__text--1 {
          grid-area: text-1;
        }
    
        &__text--2 {
          grid-area: text2;
        }
    
        &__text--3 {
          grid-area: text3;
        }

        
      &::after {
        display: none;
      }
 
    }
    




  }
  


      






.handisport {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;

    &__number {
        margin: 0%;
        font-size: $size-number-mobile;
        margin-bottom: 10px;
    }

    &__title {
        margin: 0%;
        font-size: $size-title-mobile;
        margin-bottom: 20px;
    }

    &__text {
        font-size: $size-text-mid-mobile; 
        margin-bottom: 15px;

       
        &--1 {
            
          &::before {
            content: url('../assets/images/croix.svg');
            display: block;
            margin-left: auto;  // ICIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            margin-right: 0;
            margin-top: 3vh;
            width: fit-content;
            height: auto;
          }
            
        }


        &--big {
            font-size: $size-text-big-mobile; 
        }



    }

    &::after {
        content:"↓";
        font-size: xx-large;
     }


     


     @media (min-width: 1200px) {

        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        gap: 0px;
        grid-template-areas:
            "number handisport__text--1 handisport__text--1 handisport__text--1 . . "
            "title handisport__img handisport__img handisport__img . . "
            "title  handisport__text--big handisport__text--big handisport__text--big . . ";
    
            &__number {
                grid-area: number;
                font-size: $size-number-desktop;
                display: block;
                margin: 0 auto;
              }
          
              &__title {
                grid-area: title;
                writing-mode: vertical-rl; 
                text-orientation: upright;
                display: block;
                margin: 0 auto;
                font-size: $size-title-desktop;
              }
    
        &__text--1 {
            grid-area: handisport__text--1;
            font-size: $size-text-mid-desktop;
        }
    
        &__img {
            grid-area: handisport__img;
        }
    
        &__text--big {
            grid-area: handisport__text--big;
            font-size: $size-text-big-desktop;
            font-weight: bold;
        }
    
    



        &::after {
            display: none;
         }
    



        }






     
}


.solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;


    background-image: none;




    &__deco {
        display: flex;
        justify-content: space-between; 
        width: 100%; 
        @media (min-width: 1200px) {
          display: none;

        }
        &--1,
        &--2 {
            margin: 0; 
        }
    }
    
    

    &__number {
        margin: 0%;
        font-size: $size-number-mobile;
        margin-bottom: 10px;
    }

    &__title {
        margin: 0%;
        font-size: $size-title-mobile;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 15px;

        &--small {
            font-size: 0.8rem; 


        }

        &--3{
            &::after {
                content: url('../assets/images/decooo.svg');
                display: block;
                margin-left: auto;
                margin-right: 0;
                margin-top: 3vh;
                width: fit-content;
                height: auto;
              }

              &::before {
                content: url('../assets/images/decooo.svg');
                display: block;
                margin-left:0; 
                margin-right:auto;
                margin-top: 3vh;
                width: fit-content;
                height: auto;
                transform: scaleX(-1);
              }

        }

    }

    &::after {
        content:"↓";
        font-size: xx-large;
     }

     @media (min-width: 1200px) {

        background-image: url('../assets/images/placeholdersvgsol.svg');
        background-repeat: no-repeat;
        background-position: top 10vh right 30vh;
  
            display: grid;
            grid-template-columns: repeat(6, 1fr); 
            grid-template-rows: repeat(3, 1fr); 
            gap: 0px;
            grid-template-areas:
                "number text1 text1 text1 text1 deco "
                "title img img textsmall textsmall deco "
                "title text3 text3 text3 text3 text3 ";
    
                &__number {
                    grid-area: number;
                    font-size: $size-number-desktop;
                    display: block;
                    margin: 0 auto;
                  }
              
                  &__title {
                    grid-area: title;
                    writing-mode: vertical-rl; 
                    text-orientation: upright;
                    display: block;
                    margin: 0 auto;
                    font-size: $size-title-desktop;
                  }
    
            &__text {
           
           
    
                &--1 {
                    grid-area: text1; 
                    font-size: 20px;
                }
                &--small {
                    grid-area: textsmall; 
                    font-size: 16px;
                }
                &--3 {
                    grid-area: text3; 
                    font-size: 20px;
                }
    
            }
    
            &__img {
                grid-area: img; 
            }
    
            &__deco {
                grid-area: deco; 
            }
        

            
    &::after {
       display: none;
     }

    }
    









}


.userjourney {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;

    &__number {
        margin: 0%;
        font-size: $size-number-mobile;
        margin-bottom: 10px;
    }

    &__title {
        margin: 0%;
        font-size: $size-title-mobile;
        margin-bottom: 20px;
    }


    &__img {
        background-image: url('../assets/images/usermobile.svg');
        background-size: auto 100%; 
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh; 
        width: 100vh;
    
    }





    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
        grid-template-areas:
            "number img img img img img"
            "title img img img img img"
            "title img img img img img";

      
            &__number {
                grid-area: number;
                font-size: $size-number-desktop;
                display: block;
                margin: 0 auto;
              }
          
              &__title {
                grid-area: title;
                writing-mode: vertical-rl; 
                text-orientation: upright;
                display: block;
                margin: 0 auto;
                font-size: $size-title-desktop;
              }

              &__img {
                grid-area: img;
                background-image: url('../assets/images/userdesktop.svg');
                background-size: auto 100%; 
                background-repeat: no-repeat;
                background-position: left;
              
                height: 100%; 
                width: 100%; 
            
            }






    }





}



footer {
    padding: 20px 0; 

    .footer-content {
        display: flex; 
        justify-content: space-between; 
        max-width: 1200px;
        margin: 0 auto; 
        padding: 0 20px; 
    }

    .footer-item {
        flex: 1; 
        text-align: center;
        height: 20px;
        width: auto;

        svg {
           
            height: 100%; 
            width: auto; 
        }
    }
    .dwt path {
        fill: white; 
    }
    
}
