
///couleurs

$rose: #D60081;
$bleu: #267797; 
$bg: #ffffff; 

///textes

$c-text: #0b0b0b;

$size-text: 20px;
$size-title: 112px;
$size-number: 112px;
$size-h2: 63px;
$size-h3: 36px;
$size-h4: 27px;
