
///couleurs

$rose: #D60081;
$bleu: #267797; 
$bg: #ffffff; 

///textes

$c-text: #0b0b0b;

$size-text: 20px;
$size-title: 112px;

$size-h2: 63px;
$size-h3: 36px;
$size-h4: 27px;









$size-number-mobile: 120px;
$size-title-mobile: 28px;

$size-number-desktop: 128px;
$size-title-desktop: 27px;


$size-text-small-desktop: 16px;
$size-text-mid-desktop: 20px;
$size-text-big-desktop: 27px;

$size-text-small-mobile: 12px;
$size-text-mid-mobile: 16px;
$size-text-big-mobile: 21px;
